body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #EC008C, #FC6767);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    text-align: center;
    padding: 50px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    color: white;
    margin: 20px 0;
}

.projects {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.in-progress {
    color: white;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.dots {
    animation: blink 1s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes blink {
    0%, 20%, 40%, 60%, 80%, 100% {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90% {
        opacity: 1;
    }
}